<!--The content below is only a placeholder and can be replaced.-->
<div style="background-color:aqua">
  <div class="row" style="margin:4px">
      <h1 style="font-family:Verdana;">
        No Hands
      </h1>
      <button class="header-button" (click)="_onPress()" md-button class="md-primary">Run</button>
      <button (click)="_onPress()" md-button class="md-primary">Open</button>
      <button (click)="_onPress()" md-button class="md-primary">Download</button>
      <status-bar></status-bar>
  </div>
  <div>
    <text-editor></text-editor>
  </div>
</div>

